body{
  background-color: lavender;
}
hr{
  background-color: lavender;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
img{
  border-radius: 50%;
}
h1{
  color: purple;
}
h2{
  color: purple;
}
